<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" >


<servlet>
	<servlet-name>AddNewEmployee</servlet-name>
	<servlet-class>AddNewEmployee</servlet-class>
</servlet>
<servlet>
	<servlet-name>DisplayEmployeeTable</servlet-name>
	<servlet-class>DisplayEmployeeTable</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AddNewEmployee</servlet-name>
	<url-pattern>/AddNewEmployee</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DisplayEmployeeTable</servlet-name>
	<url-pattern>/DisplayEmployeeTable</url-pattern>
</servlet-mapping>
<welcome-file-list>
 	<welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>